snippet main
	#!/usr/bin/env python
	'''
	File: ${1:`Filename('$1.py', 'foo.py')`}
	Author: ${2:`g:snips_author`}
	Description: ${3}
	'''
	import sys
	${4}

	def main(args):
	    print >>sys.stderr, "No main defined for %s" % __file__
	    ${5}
	if __name__ == "__main__":
	    main(sys.args[1:])
